* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.login-main {
	display: flex;
	justify-content: center;
}

.login-forms {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #F8F8F1;
	margin-top: 2em;
	padding: 2em 2em;
	min-width: 320px;
	box-shadow: -2px 2px 5px 1px rgba(6, 7, 14, 0.2);
}

.login-forms h1 {
	color: #1a4d5e;
	margin-bottom: 50%;
}

.login-input {
	margin-bottom: 10%;
}

.login-input input {
	background-color:#F8F8F1;
	border: none;
	border-bottom: 1px solid rgba(129, 129, 129, 0.651);
	width: 12em;
}

.login-input input:focus {
	outline: none;
}

.login-input button {
	background-color: #19647E;
	color: #EEF8FC;
	padding: 8px 10px;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-weight: 600;
}

.login-input button:hover {
	background-color: #EEF8FC;
	color: #19647E;
	border: 2px solid #19647E;
	transition: all ease-in 0.1s;
}