* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

header {
	padding-top: 10px;
	display: flex;
	background-color: #F8F8F1;;
	align-items: center;
	align-content: center;
	width: 100%;
	position:static;
	box-shadow: 0px 2px 2px 1px rgba(6, 7, 14, 0.2);
}

nav {
	display: flex;
	align-items: flex-end;
	align-content: flex-end;
	justify-content:space-around;
	width: 100%;
	flex-wrap: wrap;
	height: 15%;
}

.nav-button {
	align-items: flex-end;
	font-weight: 500;
	background-color:#F8F8F1;
	color: #1a4d5e;
	text-align: center;
	text-transform: uppercase;
	border: none;

}

.nav-button:hover {
	transition: all ease-in 0.1s;
	color: #2C83A0;
}

.selected {
	transition: all ease-in 0.2s;
	border-bottom: 2px solid rgba(201, 68, 123, 0.89);
	color: #3FA7CA;
}

.nav-button input:focus {
	outline: none;
}

.nav-button input {
	border: none;
}

.icon {
	font-size: 20px;
}